<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firebase_sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A19E8B21D50FB3B00D36824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A19E8C61D50FB3B00D36824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A19E8D11D50FB3B00D36824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
